* {
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  width: 100vw;
  height: 8vh;
  border-bottom: 1px solid black;
  padding: 1rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.btn_generico {
  background-color: darkgrey;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  display: block;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

.btn_menu {
  margin: 0 auto;
}